<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Card Opening Simulator</title>
    <link rel="stylesheet" href="style_1.css">
    <link 
      rel= "stylesheet"
      href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" 
    />
</head>

<body>

    <!-- Haut de la page -->
    <header >
        <div class="header-logo">
            <a href="/">Card Opening Simulator</a>
        </div>

        <nav class="nav">
            <div class="nav-items">
                <ul >
                    <li class="active"><a href="Accueil.html">Accueil</a></li>
                    <li ><a href="Card_Dex.html">Card Dex</a></li>
                </ul>
            </div>    
        </nav>
        </div>
    </header>
    <!-- Fin du haut de la page -->

    <!-- contenue en forme de boite -->
    <main class="main">
        <h1 class="main-title">Jeux :</h1>
        <h2 class="secondary-title">Ce jeux a été crée pour un projet NSI, il est a prendre avec humour !!!</h2>

        <section class="main-section">
            <article class="articles_1">
                <div class="article-text_1">
                    <h3>Projet :</h3>
                    <p>
                    Ce projet consiste à développer un jeu vidéo en Python composé de deux jeux interconnectés : </p>
                    Un jeu arcade, permettant au joueur de gagner des points. </p>
                    Un Card Opening Simulator, dans lequel les points gagnés servent à ouvrir des boosters de cartes à collectionner. </p>
                    </p>
                </div>
            </article>
        </section>
        <section>
                <article class="articles_2">
                    <div class="article-text_2">
                        <h3>Objectifs :</h3>
                        <p>
                        L'objectif principal de ce projet est de créer une expérience de jeu engageante et interactive, en combinant des éléments d'arcade et de collection de cartes. </p>
                        Le jeu arcade doit être conçu pour être amusant et stimulant, offrant aux joueurs la possibilité de gagner des points en accomplissant des tâches spécifiques ou en atteignant des objectifs. </p>
                        Le Card Opening Simulator doit permettre aux joueurs d'utiliser les points gagnés pour ouvrir des boosters de cartes à collectionner, offrant ainsi une expérience de collection virtuelle. </p>
                        </p>
                    </div>
                </article>
        </section>

    </main>
    <!-- Fin de page -->
     <footer class="footer">
        <p>
            Ce projet a été réalisé par Augustin,Tristand,thyrael et Farhedinn dans le cadre d'un projet NSI.</p>
            copyright © 2026 Card Opening Simulator. Tous droits réservés.</p>
        </p>
     </footer>

</body>
</html>