@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.850);
    font-family: 'Arial' , sans-serif;
 }

.header-logo {
    display: inline-block;
    width: 90%;
    padding: 20px 30px;
}

.header-logo a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav {
    display: inline-block;
    width: 90%;
}

.nav-items ul {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 10px 74px;
    background-color: rgb(1, 117, 17);
}

.nav-items ul li:hover {
    color: rgb(1, 117, 17);
    background-color: rgb(23, 237, 48);
    border-radius: 10px;
    transition: 0.3s all;
}

.nav-items li {
    display: inline-block;
    margin: 0px 10px;
}

.nav-items li a {
    text-decoration: none;
    color: white;
    font-weight: 600;

}
.nav-items li.active {
    color: rgb(1, 117, 17);
    background-color: red;
    border-radius: 10px;
    transition: 0.3s all;
}
.main-title {
    padding: 0px 20px;
    color: white;
}

.secondary-title {
    color: red;
    margin: 0px 10px;
}

.main-section {
    display: grid;
    grid-gap: 20px;
    width: 100%;
    margin: auto;
    padding: 10px 0px;
}

.article-text_1 {
    flex-basis: 100%;
    margin: 0px 10px;
    color: white;
}

.article-text_2 {
    flex-basis: 100%;
    margin: 0px 10px;
    color: white;
}

.footer {
    background-color: rgb(1, 117, 17);
    color: white;
    text-align: center;
    padding: 5px 0px;
}